*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Fira Sans', sans-serif;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

header{
	width: 100%;
	height: 640px;
	/* background: url('img/header__bcg.png') no-repeat;
	background-size: cover; */
	background: url('img/greeting_bcg.png') no-repeat 410px 139px, radial-gradient(circle closest-side at 50%, #131429 0%, #080215 100%);
	display: flex;
}

.header__logo{
	width: 170px;
	height: 65px;
	cursor: pointer;
	margin-top: 20px;
	margin-left: 43.4%;
}

.header__logo__line{
	background-color: rgba(255, 255, 255, 0.1);
	width: 1px;
	height: 43px;
	margin-top: -7px;
	margin-left: 50%;
}

.header__greeting{
	position: relative;
	margin-top: 240px;
	width: 100%;
}

.header__greeting .expression{
	position: absolute;
	text-align: center;
	left: 25%;
	right: 25%;
	margin-bottom: 40px;
	color: rgba(255, 255, 255, 0.9);
	font-size: 30px; /* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 42px; /* Приближение из-за подстановки шрифтов */
}

.header__greeting__p{
	position: absolute;
	top: 90px;
	left: 44.5%;
	font-size: 20px;
	font-weight: bold;
	line-height: 14px;
	letter-spacing: 2px;
	color: #fff;
}

.header__greeting__btn{
	position: absolute;
	margin-top: 60px;
	margin-left: 41%;	
}

.header__greeting__line{	
	position: relative;
	background-color: rgba(255, 255, 255, 0.1);
	width: 1px;
	height: 85px;	
	top: 150px;
	left: 50%;
}

.header__menu{
	position: absolute;	
	float: left;
	top: 0;
}

.header__menu .line{
	position: absolute;
	top: 0;
	margin-left: 55px;
	background-color: rgba(255, 255, 255, 0.1);
	width: 1px;
	height: 639px;
}

.header__menu p{
	margin-top: 263px;
	margin-left: 17px;
	color: rgba(255, 255, 255, 0.9);
	font-size: 14px; /* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	line-height: 24px; /* Приближение из-за подстановки шрифтов */
	text-align: left;
	text-transform: uppercase;
	transform: rotate(-90deg); /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
}

.menu_line{
	margin-left: 29px;
	margin-top: 17px;
}

.menu_link{
	cursor: pointer;	
}

nav{
	position: absolute;
	top: 0;
	margin-left: 95.5%;
	
}

.first_line{
	width: 1px;
	height: 222px;
	background-color: #ffffff;
	opacity: 0.1;
}

.line_nav{
	cursor: pointer;
	width: 1px;
	height: 22px;
	background-color: #ffffff;
	opacity: 0.3;
	margin-top: 8px;
}

.line_nav:hover{
	opacity: 1;
}

.activated{
	opacity: 1;
}

.last_line{
	margin-top: 8px;
	width: 1px;
	height: 228px;
	background-color: #ffffff;
	opacity: 0.1;
}

.header__languages{
	position: absolute;
	top: 580px; 
	left: 46%;
	cursor: pointer;
}
.header__language{	
	opacity: 0.2;
	color: #ffffff;
	font-size: 16px;
	font-weight: 300;
	line-height: 26.37px;
	text-transform: uppercase;
	letter-spacing: 0.4px;
	margin-right: 22px;
	cursor: pointer;
}

.header__language:hover{
	opacity: 1;
}

.activation_lang{
	opacity: 1;
}

.topnav{
	display: flex;
	flex-direction: column;
	top: 125px;
	left: 40%;
	width: 300px;
	position: absolute;
}

.topnav a:hover{			
	color: #3e00a5;
	font-size: 36px;
	font-weight: 500;
	letter-spacing: 1.8px;
}

.topnav a{
	text-align: center;
	color: #ffffff;
	font-size: 30px;
	font-weight: 200;
	line-height: 42px;
	letter-spacing: 1.5px;
	margin-bottom: 40px;	
}
.wrapper{
	position: relative;
	width: 100%;
	height: 644px;
}

.header__bgc{
	display: none;
}

.show{
	position: relative;
	width: 100%;
	height: 644px;
	filter: blur(3px);
}

.showMenu{
	position: absolute;
	width: 100%;
	height: 644px;
	background-color: #070215;
	opacity: 0.9;
}

.line__lang{
	position: absolute;
	left: 70px;			
	width: 1px;
	height: 457px;
	background-color: #ffffff;
	opacity: 0.1;
}

.header__bgc__language{
	cursor: pointer;
	margin-top: 40px;
	width: 17px;
	height: 11px;	
	opacity: 0.2;
	color: #ffffff;
	font-size: 16px;
	font-weight: 300;
	line-height: 26.37px;
	text-transform: uppercase;
	letter-spacing: 0.4px;
}

.header__bgc__language:hover{
	opacity: 1;
}
.activation_lang{
	opacity: 1;
}

.header__bgc__languages{
	position: absolute;
	top: 457px;
	display: flex;
	flex-direction: column;	
	margin-left: 60px;
}

.close {
	cursor: pointer;
	position: absolute;
	left: 690px;
	top: -100px;
	width: 32px;
	height: 32px;
	opacity: 0.5;
}															
.close:hover {
	opacity: 1;
}
.close:before, .close:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 33px;
	width: 2px;
	background-color: #fff;
}
.close:before {
	transform: rotate(45deg);
}
.close:after {
	transform: rotate(-45deg);
}

.icon_menu{
	display: none;
}











@media	screen and (max-width: 360px){
	header{
		height: 480px;
		background-image: url('img/mobile_bcg.png');
		background-position: center;
	}
	.wrapper{
		position: relative;
		width: 100%;
	}
	.header__logo{
		position: relative;
	}
	.header__logo__line{
		position: absolute;
		top: 50px;
		left: -36%;
		width: 1px;
		height: 38px;
		background-color: #ffffff;
		opacity: 0.1;
	}
	.header__logo img{
		position: absolute;
		right: 60%;
		width: 95px;
		height: 37px;
	}

	.header__greeting{
		margin-top: 0;
		width: 100%;
		position: relative;
	}
	.header__greeting .expression{
		width: 236px;
		height: 77px;
		opacity: 0.9;
		color: #ffffff;
		font-size: 20px;
		font-weight: 300;
		line-height: 28px;
		letter-spacing: 4px;
		position: absolute;
		top: 130px;
		left: 16%;
		width: 70%;
	}

	.header__greeting__p{
		position: absolute;
		top: 280px;
		left: 35%;
	}

	.header__greeting__btn{
		position: absolute;
		top: 190px;
		right: 15%;
	}

	.header__greeting__line:before{
		position: absolute;
		content: ' ';
		top: 70px;
		width: 1px;
		height: 36px;
		background-color: #ffffff;
		opacity: 0.1;
	}

	.header__greeting__line{
		width: 0;
		height: 0;
	}

	.header__greeting__line:after{
		position: absolute;
		content: ' ';
		top: 170px;
		width: 1px;
		height: 36px;
		background-color: #ffffff;
		opacity: 0.1;
	}

	.header__menu{
		display: none;
	}

	nav{
		display: none;
	}

	.header__languages{
		position: relative;
		top: 360px;
		left: 35%;
	}
	.header__language{
		opacity: 0;
	}
	.activation_lang{
		opacity: 1;
	}

	.icon_menu{
		display: block;
		position: absolute;
		top: 0;
		right: 0px;
		width: 40px;
		height: 11px;
		margin: 20px;
		cursor: pointer;
	}

}

